@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rufina:wght@700&display=swap');

html {
	background-color: #9FB3C8;
	margin: 0;
	padding: 0;
	font-family: "Open-Sans", serif;
}

/* header styles */

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 150px;
	border-bottom: 3px solid #243B53;
}

.main-heading {
	font-family: "Rufina", serif;
	font-style: italic;
	margin-left: 30px;
}

.main-heading a {
	color: black;
}

.main-heading a:link {
	text-decoration:none;
}

.main-heading a:hover {
	text-decoration: none;
}

.nav {
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px;
	margin-right: 40px;
}

.nav-list {
	list-style: none;
}

.nav-list li {
	display: inline-block;
	padding: 30px;
	margin: 10px;
}

.nav-list a:link {
	font-family: "Rufina";
	font-size: 30px;
	text-decoration: none;
	color: black;
}

.nav-list a:hover {
	box-shadow: 0 0 5px rgba(33,33,33,.2);
}

.set-location {
	padding: 20px 15px 0 0;
	width: 12.5%;
}

/* search bar */

.search-bar {
	margin: 5%;
	width: 40%;
	position: relative;
	display: flex;
}

.search {
	border-radius: 25px;
	width: 100%;
	background-color: #9FB3C8;
	color: black;
	font-size: 25px;
	border: 3px solid black;
	padding: 8px;
}

.search-button {
	width: 50px;
	background-color: #9FB3C8;
	border: 3px solid black;
	cursor: pointer;
}


/* search results */

.container-grid {
	margin: 10%;
	width: 80%;
	display: flex;
	grid-template-columns: 1fr;
	justify-content: space-between;
	grid-gap: 3em;
}

.container-card {
	width: 40%;
	border: 3px solid #FFCECE;
	text-align: center;
	position: relative;
	padding: 10px;
	color: white;
	background-color: #627D98;
}

.view-profile a:link{
	text-decoration: none;
	color: white;
}














